.profileContainer {
    margin: auto;
    width: 80%;
    justify-content: center;
 }

.profPagePic {
    border-radius: 50px;
}

.profileConent {
    display: flex;
 }

.ProfNameCon{
    margin-left: 20px;
}

.profileConent h2{
    margin-left: 20px;
    margin: 0;
    color: #333;
    font-size: 30px;
 }

 .profileContainer h1{
    color: #333;
    font-size: 20px;
    font-weight: normal;
    margin-left: 10px;
 }
.profileConent p{
    border: 1px solid #0083FF;
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
     
}
.profileConent p:hover{
    background-color: #0083FF;
    color: #ffffff;
    cursor: pointer;
}

.profileConent b{
    /* border: 1px solid #0083FF; */
    border-radius: 20px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
     
}
.profileConent b:hover{
    background-color: red;
    color: #ffffff;
    cursor: pointer;
}
.accountAction{
    display: flex;
}

 