.commentsContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.commentInput {
    width: 100%;
    height: auto;
    margin-left: 20px;
    border-radius: 20px;
    padding: 10px;
    border: none;

}
.commentsContainer img {
    border-radius: 50px;
}
  .commentsContainer h2{
    border: 1px solid #0083FF;
    padding: 10px;
    border-radius: 20px;
    margin-left: 20px;
   }

   .commentsContainer h2:hover{
    cursor: pointer;
    background-color: #0083FF;
    color: #fff;
   }

   .nextText{
   margin-left: 10px;
   }